*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{

    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #f5f7f9,
        #118acb
    );

}



.register-card{

    width:400px;

    background:rgb(255, 255, 255);

    padding:35px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,0.2);

    text-align:center;

}



.logo{

    color:#2874f0;

}


.logo i{

    font-size:40px;

}


.logo h1{

    font-size:26px;
    margin:10px;

}



.register-card h2{

    margin-top:20px;

    color:#2275e9;

}



.register-card p{

    color:#777;

    margin-bottom:20px;

}



.input-box{

    display:flex;

    align-items:center;

    background:#f2f2f2;

    margin:15px 0;

    padding:12px;

    border-radius:10px;

}



.input-box i{

    color:#2874f0;

    margin-right:10px;

}



.input-box input{

    width:100%;

    border:none;

    outline:none;

    background:none;

    font-size:16px;

}



button{

    width:100%;

    padding:12px;

    margin-top:15px;

    border:none;

    border-radius:25px;

    background:#b728f0;

    color:white;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

}



button:hover{

    background:#1255c5;

}



.login-text a{

    color:#2874f0;

    text-decoration:none;

    font-weight:bold;

}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#2874f0;
    padding:15px 40px;
}

.logo a{
    text-decoration:none;
    color:white;
    font-size:26px;
    font-weight:bold;
}

.logo i{
    margin-right:8px;
}



nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:20px;
    font-weight:600;
}

nav a:hover{
    color:#ffd700;
}